.page-header
  %h1
    Menu
    .pull-right
      = link_to raw(t('edit')), [:edit, place, menu], :class => 'btn btn-primary'
      = link_to raw(t('back',to: "Menus")), [place, :menus], :class => 'btn btn-default'
%dl
  %dt Place:
  %dd= menu.place.try(:name)
  %dt Name:
  %dd= menu.name
  %dt Description:
  %dd= menu.description
  %dt Category:
  %dd= menu.category.join(', ')
  %dt Hours:
  %dd= menu.hours.join(', ')

