= simple_form_for(order) do |f|
  = f.error_notification

  .form-inputs
    = f.association :user
    = f.association :place
    = f.input :status
    = f.input :placed_at, :as => :string, :input_html => { :class => "datepicker" }
    = f.input :pickup_at, :as => :string, :input_html => { :class => "datepicker" }
    = f.input :delivered_at, :as => :string, :input_html => { :class => "datepicker" }
    = f.input :rating
    = f.input :street
    = f.input :city
    = f.input :state
    = f.input :postal_code
    = f.input :phone
    = f.association :driver

  .form-actions
    = f.button :submit
